body {
            background-image:url('https://plus.unsplash.com/premium_photo-1672423154405-5fd922c11af2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGNvcnBvcmF0ZXxlbnwwfHwwfHx8MA%3D%3D');
            background-size: cover;
            background-repeat: no-repeat;
            background-position:center;
        }
        header {
            background-color: blue;
            text-align: center;
            padding: 0.25rem;
        }
        header img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
        }
        nav a {
            color:palevioletred;
            font-size:x-large;
            text-align: center;
        }
        .head {
            background-color:palevioletred;
            text-align: center;
            padding: 0.15rem;
            color: white;

        }
        .left {
            height: 200px;
            width: 200px;
            display: flex;
            padding: 10px;
            align-items: center;
        }
        .middle {
            text-align: right;
            font-style:italic;
            color:white;
        }
        footer {
            text-align: center;
            background-color: blue;
            color: aliceblue;
            padding-left: 0.5px;
        }